<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unpkg.com/ress@4.0.0/dist/ress.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;900&display=swap" rel="stylesheet">
  <title>Yong Book Store</title>
</head>

<body>
  <div class="container">
    <h1>Yong Book Store</h1>
    <form action="{{ url_for('register') }}" method="post">
      <div class="table-container">
        <table>
          <thead>
            <tr>
              <th>Title</th>
              <th>Price</th>
              <th>Arraival Day</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><input type="text" name="title"></td>
              <td><input type="text" name="price"></td>
              <td><input type="date" name="arrival_day"></td>
            </tr>
          </tbody>
        </table>
        <br>
        <button class="button">Register</button>
    </form>
  </div>
  </div>
</body>

</html>