<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book Store</title>
</head>

<body>
  <h1>YongYong Book Store</h1>
  <h2>New book releases of this month</h2>
  {% if not books %}
  <p>There is no new book release information for this month yet.</p>
  {% else %}
  <table border="1">
    <thead>
      <tr>
        <th>Title</th>
        <th>Price</th>
        <th>Arraival Day</th>
      </tr>
    </thead>
    {% for book in books %}
    <tbody>
      <tr>
        <td>{{ book.title}}</td>
        <td>{{ book.price}}</td>
        <td>{{ book.arrival_day}}</td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
  {% endif %}
  <a href="{{ url_for('form') }}">Edit</a>
</body>

</html>